<p [ngStyle]="getStyle()">employee works!</p>
<button (click)="onclick()">click</button>
<table class="t1">
    <thead colspan="2">
        <tr>
            <th>Employee Details</th>
        </tr>
    </thead>

        <tr>
        <td>Property</td>
        <td>Value</td>
    </tr>

    <tr>
        <td>FirstName</td>
        <td>{{fname}}</td>
    </tr>
    <tr>
        <td>lastname</td>
        <td>{{lname}}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{Email}}</td>
    </tr>
    <tr>
        <td>Age</td>
        <td>{{age}}</td>
    </tr>
</table>
