<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <header style="background-color:cornflowerblue; width:unset;">Details About Seller</header>
        <div style=" background-color:darkgray;">
            
            @RenderBody()
        </div>
        <footer style="background-color:black;text-emphasis-color:blue"> CopyRights@Emart</footer>
    </div>
</body>
</html>
